<div class="page">
    <header>
        <section>
            <h1>User Profile</h1>
            <span>Account settings</span>
        </section>
        <section>
            <form class="search-bar">
                <mat-icon>search</mat-icon>
                <input placeholder="Search">
                <button>Enter</button>
            </form>
        </section>
    </header>
    <main class="main-container">
        
        <h1>Edit Profile</h1>
        <div class="profile-page">
            <div class="left-side">
                <section class="fullname">
                    <mat-form-field appearance="fill">
                        <mat-label>First Name</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>M.I</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </section>

                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput type="text">
                </mat-form-field>

                <section class="location">
                    <mat-form-field appearance="fill">
                        <mat-label>City</mat-label>
                        <mat-select>
                          <mat-option value="one">First option</mat-option>
                          <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
            
                    <mat-form-field appearance="fill">
                        <mat-label>Province</mat-label>
                        <mat-select>
                          <mat-option value="one">First option</mat-option>
                          <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Postal Code</mat-label>
                        <mat-select>
                          <mat-option value="one">First option</mat-option>
                          <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>

                <section class="position">
                    <mat-form-field appearance="fill">
                        <mat-label>Position</mat-label>
                        <input matInput type="text">
                    </mat-form-field>
        
                    <mat-form-field appearance="fill">
                        <mat-label>Department</mat-label>
                        <mat-select>
                          <mat-option value="one">First option</mat-option>
                          <mat-option value="two">Second option</mat-option>
                        </mat-select>
                    </mat-form-field>
                </section>
            </div>
            <div class="right-side">
                <img src="../../../assets/emp1.jpg" alt="">
                <p>
                scipit perferendis dolore veritatis, commodi aliquid soluta aspernatur impedit, minima sunt iusto consequatur vero! Saepe deserunt corrupti animi aliquam, labore consequuntur quisquam reprehenderit perspiciatis, laboriosam cum officia incidunt.
                Esse voluptates, nisi, eveniet incidunt minus suscipit, autem velit odio aperiam ipsum libero delectus nihil sapiente unde harum. Aliquid libero magnam ratione minus nisi voluptatibus perspiciatis illo asperiores eius quia.
                Ab maiores ad animi error facere, est doloremque officia sint adipisci tempore deserunt. Architecto est culpa tempora unde maiores rerum assumenda error? Dolorum ducimus officia atque aliquam odio nobis facilis.
                Atque eius est dignissimos, repellat eaque iste exercitationem, aperiam numquam veritatis rerum optio aliquam omnis eveniet temporibus reiciendis! Amet itaque officiis eius exercitationem maiores, rerum cum inventore incidunt aliquid dolor.
                Asperiores autem velit repudiandae! Quibusdam doloremque recusandae deleniti vel harum maiores assumenda, atque praesentium? Deleniti architecto, reprehenderit cumque libero quo aspernatur impedit! Sequi quibusdam doloribus sit! Facilis asperiores molestiae voluptas.
                </p>
            </div>
        </div>



       


    </main>
</div>