<div class="page">
    <header>
        <section>
            <h1>Dashboard</h1>
            <span>Here's what's happening in your company today.</span>
        </section>
        <section>
            <form class="search-bar">
                <mat-icon>search</mat-icon>
                <input placeholder="Search">
                <button>Enter</button>
            </form>
        </section>
    </header>
    <main class="main-container">
        <app-cards></app-cards>
        <app-charts></app-charts>
        <app-salary-table></app-salary-table>
    </main>
</div>